

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-Light.woff2"),
  url("/assets/fonts/ttf/IRANSans-Light.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Light.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/ttf/IRANSans-Light.ttf"),
  url("/assets/fonts/ttf/IRANSans-Light.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Light.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-Regular.woff2"),
  url("/assets/fonts/ttf/IRANSans-Regular.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Regular.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-Regular.woff2"),
  url("/assets/fonts/ttf/IRANSans-Regular.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-Medium.woff2"),
  url("/assets/fonts/ttf/IRANSans-Medium.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-Medium.woff2"),
  url("/assets/fonts/ttf/IRANSans-Medium.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-DemiBold.woff2"),
  url("/assets/fonts/ttf/IRANSans-DemiBold.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-DemiBold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-Bold.woff2"),
  url("/assets/fonts/ttf/IRANSans-Bold.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Bold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/woff2/IRANSans-Bold.woff2"),
  url("/assets/fonts/ttf/IRANSans-Bold.ttf") format("trueType"),
  url("/assets/fonts/woff/IRANSans-Bold.woff") format("woff");
  font-weight: 900;
}


