<div class="mt-2">
    <ul class="strength">
        <li [ngClass]="{'text-success': hasMixedCase, 'text-muted': !hasMixedCase}">
            ترکیبی از اعداد و حروف بزرگ و کوچک باشد
        </li>
        <li [ngClass]="{'text-success': hasSymbol, 'text-muted': !hasSymbol}">
            شامل حداقل یک علامت (# $ ! % & )باشد.
        </li>
        <li [ngClass]="{'text-success': hasValidLength, 'text-muted': !hasValidLength}">
            رمز عبور بایدحداقل 8 کاراکتر و حداکثر 25 کاراکتر داشته باشد
        </li>
    </ul>
</div>