<div class="input-group">
    <input [placeholder]="placeholder" class="form-control border-end-0" [type]="inputPasswordType" [disabled]="disabled"
    (ngModelChange)="onChangeValue($event)"
    [ngModel]="inputValue"/>
    <span class="input-group-text bg-white border-start-0" id="basic-addon2">
        <svg width="17" height="17" class="cursor" (click)="inputPasswordType='text'"
            *ngIf="inputPasswordType === 'password'">
            <use xlink:href="assets/img/icons.svg#icon-eye">
            </use>
        </svg>
        <svg width="17" height="17" class="cursor" (click)="inputPasswordType='password'"
            *ngIf="inputPasswordType === 'text'">
            <use xlink:href="assets/img/icons.svg#icon-eye-slash">
            </use>
        </svg>
    </span>
</div>